build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/search-bar-for-city-names
    # make all
    # docker build
    # docker ps 2
deploy:
  type: text
  content: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/search-bar-for-city-names
    hello
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test: []
Last Updated By: Priyanshi Somani
Last Updated On: 2022-07-15T06:54:25.239Z
deleted: "True"
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-07-24T12:02:11.805Z
