build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/search-bar-for-city-names
    # make all
    # docker build
deploy:
  type: text
  content: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/search-bar-for-city-names
    hello
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test: []
Last Updated By: Priyanshi Somani
Last Updated On: 2022-07-15T06:54:25.239Z
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-07-22T12:22:11.431Z
